@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: #04243d;
}

/* nav bar */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
  background-color: white;
  align-items: center;
  padding-top: 1rem;
}
nav ul {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  column-gap: 40px;
  text-align: center;
}
nav ul li {
  list-style-type: none;
  font-size: 20px;
}
nav ul li a {
  color: #04243d;
  text-decoration: none;
}
nav ul li a:hover {
  color: #04243d;
}
header {
  background-color: #f2f2f2;
  padding: 3rem;
}

/* About */

.history-div {
  margin-top: 10em;
  margin-bottom: 10em;
}
h1 {
  padding-top: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin: 0;
}
#about p {
  font-size: 18px;
  margin: 30px 50px;
  text-align: justify;
}
/* Ingredients */
span {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
#seperator {
  height: 60vh;
  width: 4px;
  background-color: #04243d;
  margin: 0 70px;
}
#tables {
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 0;
}
h2 {
  margin-bottom: 3rem;
  font-size: 4em;
}
caption {
  font-size: 23px;
  margin: 0 0 10px 20px;
}

#ingredients {
  text-align: center;
}
.ingredient-table {
  width: 100%;
  border-collapse: collapse;
}
.ingredient-table th {
  background-color: #f2f2f2;
}
.ingredient-table td,
.ingredient-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;
}
/* Steps */
#steps {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
#steps h2 {
  text-align: center;
}

/* Gallery */
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
#container > div:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#gallery h2 {
  text-align: center;
}
.gallery-item {
  border-radius: 3px;
  width: 300px;
  height: 280px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery-item img {
  height: 200px;
  width: 100%;
}
/* footer */
footer {
  background-color: whitesmoke;
  text-align: center;
  height: 50px;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wprm-recipe-image {
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
  left: 50%;
}
.wprm-recipe-image img {
  position: relative;
  border: 8px solid #fff !important;
  border-radius: 200px;
  display: block;
  margin: 0 auto;
}

.header-wrap {
  background: #eef0f3;
  padding: 0 32px;
  background-color: #f2f2f2 !important;
}
h2.wprm-recipe-name {
  padding: 125px 10px 10px 10px;
  text-align: center;
  font-size: 36px;
  font-weight: normal !important;
}
.wprm-spacer {
  display: block !important;
  background: none !important;
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 10px;
}
.wprm-recipe-summary {
  padding: 0 15px;
  text-align: center;
}
.wprm-block-text-normal {
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.wprm-button-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
a {
  width: 130px;
}
.recipe-meta {
  text-align: center;
  clear: both;
}
.wprm-recipe-times-container {
  display: block;
  clear: both;
  text-align: center;
}
.wprm-recipe-details-container-inline {
  display: inline;
}
.wprm-recipe-block-container-inline {
  margin-right: 20px;
  display: inline-block;
}
.wprm-recipe-details-label {
  font-size: 13px;
}
.wprm-block-text-faded {
  opacity: 0.6;
}
.wprm-recipe-time,
.wprm-recipe-course {
  font: normal 13px Mulish, sans-serif;
  padding: 0 3px;
}
